<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img [src]="imagePath" alt="covid-19" style="height: 50px; border-radius: 50px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/allcases">All Cases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/india">Indian Cases</a>
      </li>
    </ul>
  </div>
</nav> -->

<ul class="nav nav-pills">
  <li class="nav-item">
    <img [src]="imagePath" alt="covid-19" style="height: 40px; border-radius: 40px;">
  </li>
  <li class="nav-item">
    <a class="nav-link active" routerLink="/allcases">All Cases By Country</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/india">India Cases</a>
  </li>
</ul>


<router-outlet></router-outlet>