<!-- <div style="height: 50px;"></div>
 <div class="container">
     <div class="row">
         <div class="col-md-3" 
         style="font-size: 14px;letter-spacing: 0.003em;width: 185px;
         font-weight: 600;background-color: silver;cursor: pointer" (click)="indiaCases()">  Indian Cases By Dates</div>
         <div class="col-md-1"></div>
         <div class="col-md-3"
         style="font-size: 14px;letter-spacing: 0.003em;width: 185px;
         font-weight: 600;background-color: silver;cursor: pointer" (click)="allCases()"> cases by countries </div>
     </div>
 </div> -->
<div class="row" style="height: 10px;"></div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="#">
        <img [src]="imagePath" alt="covid-19" style="height: 20px; border-radius: 50px;">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/allcases">Cases By Countries</a></li>
        <li>
          <a routerLink="/india">Indian Cases By Dates</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- <div style=" height: 50px;"></div> -->



<router-outlet></router-outlet>