<kendo-datepicker [min]="dateDaysAgo" [max]="date" (valueChange)="onChange($event)"></kendo-datepicker>
<div *ngIf="fetchFlag">
    <div style="width: auto;height: auto;">
        <div class="col-md-5" id="odd-1"> Total Cases: </div>
        <div class="col-md-5" id="odd-2"> {{tempData[0].total_cases}} </div> <br>

        <div class="col-md-5" id="even-1"> Active Case: </div>
        <div class="col-md-5" id='even-2'> {{tempData[0].active_cases}} </div> <br>

        <div class="col-md-5" id="odd-1"> New Cases:</div>
        <div class="col-md-5" id="odd-2">{{tempData[0].new_cases}} </div><br>

        <div class="col-md-5" id='even-1'> Total Deaths: </div>
        <div class="col-md-5" id='even-2'> {{tempData[0].total_deaths}} </div> <br>

        <div class="col-md-5" id="odd-1"> New Deaths: </div>
        <div class="col-md-5" id="odd-2"> {{tempData[0].new_deaths}} </div> <br>

        <div class="col-md-5" id='even-1'> Total Recovered: </div>
        <div class="col-md-5" id='even-2'> {{tempData[0].total_recovered}} </div> <br>

        <div class="col-md-5" id="odd-1"> Record Date: </div>
        <div class="col-md-5" id="odd-2"> {{tempData[0].record_date | date :'short'}} </div> <br>

    </div>
</div>

<div class="row no-gutters bg-light position-relative">
    <div class="col-md-6 position-static p-4 pl-md-0">
        <h5 class="mt-0"> Copyright © 2020 All rights reserved.</h5>
        <a href="https://github.com/drashtantsolanki" class="stretched-link">Drashtant Solanki</a>
    </div>
</div>
<div class="row no-gutters bg-light position-relative">
    <div class="col-md-6 position-static p-4 pl-md-0">
        <div>
            <h5 class="mt-0"> and</h5>
            <a href="https://github.com/moheetjari" class="stretched-link">Mohit Jariwala</a>
        </div>
    </div>
</div>


<ngx-spinner type="line-scale-pulse-out-rapid" size="default" color="#ffffff" bdColor="#222222" fullScreen="off">
    <p style="font-size: 20px; color: white">
        <!-- ♠ Do HANDWASH &nbsp;&nbsp; ♠ Don't touch FACE &nbsp;&nbsp;
        ♠ keep DISTANCE <br>
        <span style="margin-left: 200px;"> ♠ Stay HOME if you can </span> <br></p> -->
</ngx-spinner>